/node_modules/
/contest/
/flipkart/
/manual_records/
/outlet/
/Shared/
/shopaholic/
/t/
/test/
/backup-5.22.2015_11-00-56_arka.tar.gz
/cPanelProxy.zip
/cropNew.rar
/cropNew.zip
/Ideal-Image-Slider-1.4.0.zip
/phpliteAdmin_v1-9-5.zip
/backup
