body
{
	background-color:#f5f5f5;
	margin:0;
}
.account-body
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	clear:both;
	margin-top:30px;
	margin-bottom:30px;
	color:#555;
	background-color:#fff;
	min-height:600px;
	display:block;
}
.all_tabs
{
	width:100%;
	display:table;
	color:#fff;
}
.one_tab
{
	float:left;
	padding:10px 5px 10px 5px;
	font-size:15px;
	/*background-color:#1669b0;*/
	color:#1669b0;
	font-family: Arial,Helvetica,sans-serif;
	/*border: 1px #1669b0 solid;*/
	margin: 0 10px 0 10px;
	cursor:pointer;
}
.one_tab:hover
{
	background-color:#fff;
	/*color: #1669b0;*/
	/*border: 1px #1669b0 solid;*/
	border-bottom: 4px #14937b solid;
	transition:.1s;
}
.tab_active
{
	background-color:#fff;
	color: #1669b0;
	/*border: 1px #1669b0 solid;*/
	border-bottom: 4px #14937b solid;
}
.acc_body
{
	width:100%;
	display:table;
	font-family: Arial,Helvetica,sans-serif;
	border-width:1px;
	border-color:rgba(22, 105, 176, 0.2);
	border-style:solid;
	
}
.left-part
{
	float:left;
	width: 220px;
	min-height:600px;
	background-color:#fdfdfd;
}
.right-part
{
	float:right;
	width: 780px;
	min-height:600px;
	background-color:#fdfdfd;
}
.profile_img
{
	height:180px;
	background-color:#1f4987;
	margin:0;
	padding:20px;
}
.myform
{
	width:100%;
	display:table;
	margin-top:20px;
}
.row
{
	width:100%;
	display:table;
}
.myform label
{
	width: 170px;
	float: left;
	padding: 10px 0 10px;
	margin: 6px 0 6px;
	text-align:right;
	font-weight:600;
	font-size:14px;
}
.myform input
{
	width: 520px;
	float: right;
	padding: 10px;
	margin: 5px 40px 5px 20px;
	font-size: 12px;
	border: 1px solid #d2d8d8;
	display: inline-block;
	color: #555;
}
#update_basic select
{
	width: 520px;
	float: right;
	padding: 10px;
	margin: 5px 40px 5px 20px;
	font-size: 12px;
	border: 1px solid #d2d8d8;
	display: inline-block;
	color: #555;
}
.update_button
{
	background-color: #EF534E;
	border: 1px solid #dF433E;
	cursor:pointer;
}
.update_button:hover
{
	background-color: #dF433E;
	border: 1px solid #dF433E;
}
.all_options
{
	width:220px;
}
.one_option
{
	position:relative;
	font-size:14px;
	height:40px;
	line-height:40px;
	vertical-align:middle;
	background-color: #1f4987;
	color:#fff;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left:40px;
	cursor:pointer;
	transition: 0.1s;
}
.one_option:hover
{
	border-left:5px #EF534E solid;
	padding-left:15px;
}
.triangle
{
	position:absolute;
	right:0;
	top:0px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 25px solid #fdfdfd;
	border-bottom: 20px solid transparent;
}